*.suo
*.user
_ReSharper.*
bin
obj
packages
.vscode
todo

heitech.configXt.Client.Nodejs/node_modules
**/node_modules
*node_modules 
heitech.configXt.Client.Nodejs/dist/

heitech.configXt.api/configStore.db
heitech.configXt.api/map.json